.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
  font-size: 16px;
  color: #172029;
  position: relative;
  max-width: 1608px;
  margin: auto;

  @media (max-width:500px) {
    font-size: 14px;
  }

  .backButton {
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    color: #0073E6;
    font-weight: 700;
    gap: 5px;

  }

  .productContainer, .productDescription {
    display: flex;
    max-width: 800px;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;    
  }
  .productContainer {
    flex-direction: row;
    gap: 24px;
    
    @media (max-width:1183px) {
      margin-top: 60px;
    }

    @media (max-width:832px) {
      flex-direction: column;
      align-items: center;
    }

    .productImage {
      width: 50%;
      aspect-ratio: 1 / 1;
    }

    .productDetails {
      display: flex;
      flex-direction: column;

      .productTitle {
        font-size: 1.75em; 
        font-weight: 700;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
      }

      .productRating {
        width: 76px;
      }

      .productPrice {
        font-family: var(--title-font);
        font-size: 1.75em;
        font-weight: 800;
        margin-bottom: 10px;
      }

      .addToCartButton {
        padding: 16px 20px;
        font-weight: 700;
        font-size: 1em;
        background-color: #0073E6;
        color: white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        max-width: 400px;
      }
      
      .cartControls {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .decreaseButton, .increaseButton, .quantity {
            width: 50px;
            height: 50px;
            text-align: center;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E6F1FC;
            font-weight: 700;
            font-size: 1em;

            img{
                width: 70%;
                height: 70%;
            }

            @media (max-width:680px) {
                width: 30px;
                height: 30px;
            }
            
        }

        .decreaseButton {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          cursor: pointer;
        }

        .increaseButton {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          cursor: pointer;
        }

        .checkoutButton {
          padding: 16px 20px;
          font-weight: 700;
          font-size: 1em;
          background-color: #0073E6;
          color: white;
          border: none;
          border-radius: 12px;
          cursor: pointer;
          max-width: 400px;
          margin-left: 10px;

          @media (max-width:680px) {
            font-size: 0.6em;
            padding: 10px 20px;
          }
        }
    }
      .returnPolicy {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        .returnPolicyTitle {
          font-size: 1em;
          font-weight: 700;
        }
        .returnPolicyIcon {
          width: 20px;
          height: 20px;
        }
      }

      .returnPolicyText {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1em;
      }
      .priceNote {
        font-size: 0.75em;
        font-weight: 400;
        color: #808080;
      }
    }
  }
  .productDescription {
    flex-direction: column ;

    h2{
      font-size: 1.25em;
      margin-bottom: 10px;
      font-weight: 700;
    }

    p{
      font-size: 1em;
      line-height: 1.5;
      font-weight: 400;
      margin-top: 0;
    }
  }
}

