
@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircleRounded';
  src:  url('/fonts/CircleRounded/CircleRounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-font: 'Nunito', sans-serif;
  --title-font: 'CircleRounded', sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: #F2F6FA;
}

*{
  font-family: var(--main-font);
}

h1 {
  font-family: var(--title-font);
}